<html
  lang='en'
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='x-apple-disable-message-reformatting' />
    <title></title>
    <!--[if mso]>   <noscript>     <xml>       <o:OfficeDocumentSettings>         <o:PixelsPerInch>96</o:PixelsPerInch>       </o:OfficeDocumentSettings>     </xml>   </noscript>   <![endif]-->
    <style>
      table, td, div, h1, p, ol { font-family: Verdana, Arial, sans-serif; } @media
      only screen and (max-width: 605px) { .mob-width { width: 100%; } }
      
      ol, p {margin:0;font-size:14px;line-height:24px;color:#545454;margin: 15px 0px;}
    </style>
  </head>

  <body style='margin:0;padding:0;'>
    <table
      role='presentation'
      style='width: 831px;border-collapse:collapse;border:0;border-spacing:0;background-color: #F5F5F5;'
      align='center'
    >
      <tr>
        <td align='center' style='padding:0;    padding-top: 41px;'>
          <table
            role='presentation'
            class='mob-width'
            style='width:600px;border-collapse:collapse;border-spacing:0;text-align:left;background-color: #fff;'
          >
            <tr>
              <td style='padding: 35px 35px 35px 35px;color:#153643;'>
                <table
                  role='presentation'
                  style='width:100%;border-collapse:collapse;border:0;border-spacing:0;/*box-shadow: 0 5px 50px rgb(0 0 0 / 31%);*/padding: 50px;/*display: inline-block;*/ /*margin-top: -90px;*/z-index: 10;position: relative;border-radius: 12px;background-repeat: no-repeat;'
                >
                  <tr>
                    <td>
                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;margin: 15px 0px;'
                      > Dear&nbsp;{{fullname}},</p>

                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;margin: 15px 0px;'
                      >
                        We are thrilled to welcome you to RxPak! Your registration is now complete, and you are officially a member of our community.</p>
                       <p> 
                        Here are a few things you can do now that you're part of RxPak:
                        <ol>
                          <li><strong>Explore Our Product Range: </strong>Browse our extensive selection of pharmaceutical products. From prescription medications to over-the-counter essentials, we've got you covered.</li>
                          <li><strong>Order Medications Online: </strong>Enjoy the convenience of ordering your medications from the comfort of your home. Our user-friendly app makes the process quick and easy.</li>
                          <li><strong>Track Your Orders: </strong>Keep an eye on your orders with our order tracking feature. Know exactly when your medications will arrive at your doorstep.</li>
                          <li><strong>Refill and Dosage Reminders: </strong>Never miss a dose or forget to refill your prescription again. Our app will send you timely reminders to ensure you stay on top of your medication schedule.</li>
                        </ol>
                      </p>
                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                        If you have any questions or need assistance, feel free to reach out via email at <a href='mailto:{{contactUsEmail}}'>{{contactUsEmail}}</a>.
                      </p>
                          <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                       Thank you for choosing RxPak. We look forward to serving you and making your healthcare experience seamless.
                      </p>
                      <br />
                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                        Best Regards,
                      </p>
                      <p style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'>
                        RxPak
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align='center'>
          <p
            style='margin:23px 0 21px;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color: rgb(0 0 0 / 54%);'
          >
            Copyright © 2023 - RxPak</p>
        </td>
      </tr>
    </table>
  </body>

</html>