<html
  lang='en'
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='x-apple-disable-message-reformatting' />
    <title></title>
    <!--[if mso]>   <noscript>     <xml>       <o:OfficeDocumentSettings>         <o:PixelsPerInch>96</o:PixelsPerInch>       </o:OfficeDocumentSettings>     </xml>   </noscript>   <![endif]-->
    <style>
      table, td, div, h1, p, ul { font-family: Verdana, Arial, sans-serif; } @media
      only screen and (max-width: 605px) { .mob-width { width: 100%; } }
      
      ul, p {margin:0;font-size:14px;line-height:24px;color:#545454;margin: 15px 0px;}
    </style>
  </head>

  <body style='margin:0;padding:0;'>
    <table
      role='presentation'
      style='width: 831px;border-collapse:collapse;border:0;border-spacing:0;background-color: #F5F5F5;'
      align='center'
    >
      <tr>
        <td align='center' style='padding:0;    padding-top: 41px;'>
          <table
            role='presentation'
            class='mob-width'
            style='width:600px;border-collapse:collapse;border-spacing:0;text-align:left;background-color: #fff;'
          >
            <tr>
              <td style='padding: 35px 35px 35px 35px;color:#153643;'>
                <table
                  role='presentation'
                  style='width:100%;border-collapse:collapse;border:0;border-spacing:0;/*box-shadow: 0 5px 50px rgb(0 0 0 / 31%);*/padding: 50px;/*display: inline-block;*/ /*margin-top: -90px;*/z-index: 10;position: relative;border-radius: 12px;background-repeat: no-repeat;'
                >
                  <tr>
                    <td>
                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;margin: 15px 0px;'
                      > Dear&nbsp;{{fullname}}</p>

                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;margin: 15px 0px;'
                      >
                        Welcome to RxPak! We are delighted to inform you that you have been added as a Sub Admin to our system. Your dedication and expertise will undoubtedly contribute to our shared success.</p>
                       <p> 
                        Here are your account details:
                        <ul>
                          <li><strong>Username: </strong>{{email}}</li>
                          <li><strong>Password: </strong>{{password}}</li>
                        </ul>
                      </p>
                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                        Please log in at our <a href={{adminUrl}}>Admin System</a> using the provided credentials. We recommend changing your password upon your first login for security purposes.
                      </p>
                          <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                       As a Sub Admin, you will have specific responsibilities and access privileges. 
                      </p>
                          <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                       Thank you for being part of our team. We look forward to your valuable contributions. 
                      </p>
                      <br />
                      <p
                        style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'
                      >
                        Best Regards,
                      </p>
                      <p style='margin:0;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color:#545454;'>
                        RxPak
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align='center'>
          <p
            style='margin:23px 0 21px;font-size:14px;line-height:24px;font-family:Verdana,Arial,sans-serif;color: rgb(0 0 0 / 54%);'
          >
            Copyright © 2023 - RxPak</p>
        </td>
      </tr>
    </table>
  </body>

</html>